name: CI

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'README.md'
      - '.gitignore'
      - '.github/**'
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'README.md'
      - '.gitignore'
      - '.github/**'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2
      - name: Setup golang
        uses: actions/setup-go@v1
        with:
          go-version: "1.13"
      - name: Lint code
        env:
          GOBIN: /home/runner/go/bin
        run: |
          # Install cli tools
          go get -u golang.org/x/lint/golint

          $GOBIN/golint -set_exit_status ./...
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2
      - name: Setup golang
        uses: actions/setup-go@v1
        with:
          go-version: "1.13"
      - name: Run tests
        env:
          GOBIN: /home/runner/go/bin
        run: |
          # Install cli tools
          go get github.com/onsi/ginkgo/ginkgo
          
          # In seconds
          SLOW_SPEC_THRESHOLD="${SLOW_SPEC_THRESHOLD:-60}"

          CGO_ENABLED=1 $GOBIN/ginkgo \
            -r \
            -race \
            -randomizeAllSpecs \
            -randomizeSuites \
            -keepGoing \
            -slowSpecThreshold="${SLOW_SPEC_THRESHOLD}" \
            -cover \
            -covermode=atomic \
            -outputdir=. \
            -coverprofile=coverage.xml
      - name: Collect coverage report
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          flags: unittests
          name: pivnet-product-stemcell-resource
          fail_ci_if_error: true
  vulnerability-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2
      - name: Vulnerability scan
        uses: snyk/actions/golang@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
  build:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    needs: [lint, test, vulnerability-scan]
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2
      - name: Setup golang
        uses: actions/setup-go@v1
        with:
          go-version: "1.13"
      - name: Login to registry
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login --username ${{ github.actor }} --password-stdin
      - name: Build Docker image
        run: |
          # Image name
          IMAGE="shanman190/pivnet-product-stemcell-resource"

          # Unique snapshot
          SNAPSHOT="${{ github.sha }}"

          go build -o ./cmd/check/check ./cmd/check/main.go
          go build -o ./cmd/in/in ./cmd/in/main.go
          go build -o ./cmd/out/out ./cmd/out/main.go

          docker build --file Dockerfile --tag $IMAGE:$SNAPSHOT --tag $IMAGE:latest .

          docker push $IMAGE:$SNAPSHOT
          docker push $IMAGE:latest